<?xml version="1.0" encoding="utf-8"?>
 <widget xmlns ="http://wwww.w3.org/ns/widgets"
   xmlns:gap   ="http://phonegap.com/ns/1.0"
   id          ="com.phonegap.piano"
   version     ="1.0.0">
  <!-- versionCode is opcional and Android only -->
  
  <name>MI PIANO</name>
  
  <descripcion>
    Ejemplo para utilizar Plugins de Audio
  </descripcion>
  
  <preference name="phonegap-version" value="3.5.0" />
  
  <author href="http://build.phonegap.com" email="support@phonegap.com">
     Diana Linares Uscanga
  </author>
  
 <gap:plugin name="org.apache.cordova.vibration" version="0.3.0" />
<gap:plugin name="com.rjfun.cordova.plugin.lowlatencyaudio" version="1.0"/>
<icon src="res/android/mdpi.png" />
  
</widget>